<div class="view">
	<div id="aboutme">
		<div>
		Contact Me: <a href="mailto:ashleyns1992@gmail.com" class="web_link">AshleyNS1992@gmail.com</a>
		</div>
		<h2>Hello there!</h2>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My name is <span class="highlight">Ashley Schuett</span>, I am currently living in Milwaukee, Wisconsin. I am a senior at UW-Milwaukee studying Information Science, and Computer Science. I look forward to graduating this fall and moving to a warmer climate where I can pursue my love for coding.</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I love solving problems with code and creating new things for people to use. Whenever creating a new project I like to focus on how it can solve a current issue by making the layout smooth, so that the end product feels natural to use and fun! I hope that through code I can make lives easier and more enjoyable.</p>
	</div>
</div>
