<div class="frontpage">
	<figure>
	<img class="bg" src="{{background}}" />
	<div class="row">
		<div class="col-sm-offset-6 col-sm-6 col-xs-offset-2 col-xs-10">
			<div class="row">
				<div class="col-lg-offset-2 col-lg-10">
					<div id="greeting" class="text-center">
						<h1>Ashley Schuett</h1>
						<h3>Web Developer</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<a class="flat-button" href="/#/resume">
						<p>
							Resume
						</p>
					</a>
				</div>
				<div class="col-xs-6">
					<a class="flat-button" href="/#/profolio">
						<p>
							Profolio
						</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	</figure>
	
	</div>
</div>