<div class="view">
	<div id="pdf_resume">
        <div class="row">
            <a href="assets/css/Ashley_Schuett.pdf" class="web_link">Avaliable as PDF</a>
        </div>
        <div id="resume-header" class="row">
            <div id="name" class="col-sm-9">
                <h1>Ashley</br>Schuett</h1>
            </div>
            <div id="contact-info " class="col-sm-3 text-right">
                schuetta@uwm.edu</br>
                ashleyns1992@gmail.com
            </div>
        </div>
        <div class="section row">
            <h6>EDUCATION</h6>
            <div class="title col-sm-9">
                University of Wisconsin - Milwaukee
                <div class="sub">Milwaukee, Wisconsin</div>
                <ul>
                    <li><b>Major</b>: Information Science and Technology</li>
                    <li><b>Minor</b>: Computer Science</li>
                    <li><b>Emphasis</b>: Health Care Informatics, Web Development, and Digital Arts and Culture</li>
                    <li><b>Graduation</b>: December 2014</li>
                </ul>
            </div>
            <div class="col-sm-3 text-right">
                August 2011 - Present
            </div>
        </div>
        <div class="section row">
            <h6>SKILLS</h6>
            <div class="title col-sm-9">
                Languages
                <ul>
                    <li><b>Proficent In</b>: Java, PHP, HTML/CSS, Javascript</li>
                    <li><b>Familiar with</b>: SQL, Python, as well as working with frameworks such as CodeIgniter, Laravel, AngularJS, and Foundation</li>
                </ul>
                Software
                <ul>
                    <li><b>Database</b>: MySQL, MariaDB, Oracle, and Access</li>
                    <li><b>Platforms</b>: Windows 7, Windows 8, and familiar with using Ubuntu</li>
                </ul>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
        <div class="section row">
            <h6>EXPERIENCE</h6>
            <div class="title col-sm-9">
                Web Developer</br>
                <div class="sub">University of Wisconsin - Milwaukee Student Affairs IT</div>
                <ul>
                    <li>Migrated sites from ColdFusion to WordPress.</li>
                    <li>Created WordPress theme and template for the SAITS division.</li>
                    <li>Maintained a network of over 10 divisional WordPress sites. </li>
                    <li>Created a web application for University Legal Clinic to intake new clients and assign a paralegal for each case.</li>
                    <li>Lead Front End Developer on vehicle dispatch web application.</li>
                    <li>Worked with stakeholder to help improve work flow for dispatching vehicles, and UI of application.</li>
                    <li>Developed application to check students’ status for event admission. This is being used for many different events by over 5 different departments, making the checking process faster, and easier.</li>
                </ul>
            </div>
            <div class="col-sm-3 text-right">
                June 2013 - Present
            </div>
            <div class="title col-sm-9">
                Technical Support</br>
                <div class="sub">University of Wisconsin - Milwaukee Student Affairs IT</div>
                <ul>
                    <li>Using SCCM to manage computers in the SAITS division.</li>
                    <li>Troubleshot any software or hardware issues within SAITS.</li>
                    <li>Assisted with merging other divisions’ computers to be supported by SAITS.</li>
                    <li>Imaging and deploying new computers.</li>
                    <li>Using Active Directory to manage permissions on clients’ computers.</li>
                </ul>
            </div>
            <div class="col-sm-3 text-right">
                May 2013 - August 2013
            </div>
            <div class="title col-sm-9">
                Help Desk</br>
                <div class="sub">University of Wisconsin - Milwaukee University IT Services</div>
                <ul>
                    <li>Troubleshot issues with campus email and online learning platforms.</li>
                    <li>Documented all troubleshooting steps.</li>
                    <li>Provided friendly customer service to anyone that called.</li>
                    <li>Followed through with end user to assure that issues were resolved.</li>
                </ul>
            </div>
            <div class="col-sm-3 text-right">
                August 2012 - May 2013
            </div>
        </div>
        <div class="section row">
            <h6>SUMMARY</h6>
            <div class="col-sm-12">
                I am a full time student, scheduled to graduate at the end of the Fall 2014 semester. My passion for web development stemmed from my own personal interests in the technology field. This brought me to University of Wisconsin-Milwaukee’s Student Affairs IT Services Web Development team. Through this opportunity, my studies at school, and personal projects, I have gained significant knowledge in programming and web development. I eat, sleep and live code.
            </div>
        </div>
     </div>
</div>